@inherits LayoutComponentBase

<header>
    <NavMenu @rendermode="InteractiveServer" />
</header>

<main>
    <CascadingValue Value="@appState">
        @Body
    </CascadingValue>
</main>

<footer>
    <FooterArea @rendermode="InteractiveServer" />
    <div id="blazor-error-ui">
        Сталася якась помилка.
        <a href="" class="reload" style="color: white;">Перезавантажити</a>
        <a class="dismiss">🗙</a>
    </div>
</footer>

@code {
    AppState appState = new AppState();
}
