<div class="accordion">
    <div class="card">
        <div class="card-header">
            <button class="col-12 text-start" type="button" @onclick="Toggle">
                @CardHeaderTitle
            </button>
            <div style="width: @Percentage%; background-color: #fd0e30; height: 5px;"></div>
        </div>
        <div class="@BtnClass">
            @if (ShowCardBody)
            {
                <div class="card-body">
                    @CardBody
                </div>
            }
        </div>
    </div>
</div>

@code {
    [Parameter] public RenderFragment CardHeaderTitle { get; set; }
    [Parameter] public RenderFragment CardBody { get; set; }
    [Parameter] public bool ShowCardBody { get; set; } = false;
    [Parameter] public bool IsCollapsible { get; set; } = true;
    [Parameter] public int Percentage { get; set; } = 0;

    public string BtnClass => ShowCardBody ? "collapse show" : "collapse";

    public void Toggle()
    {
        if (IsCollapsible)
        {
            ShowCardBody = !ShowCardBody;
        }
    }
}
