<section class="breadcrumb-area breadcrumb-bg" style="background-image: url('img/WatchTVMockup.jpg')">
    <div class="layer">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-content">
                        @TitleContent
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                @ChildContent
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@code {
    [Parameter] public RenderFragment TitleContent { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; }
}
