@inherits LayoutComponentBase

<header>
    <NavMenu />
</header>

<main>
    @Body
</main>

<footer>
    <FooterArea />
    <div id="blazor-error-ui">
        Сталася якась помилка.
        <a href="" class="reload" style="color: white;">Перезавантажити</a>
        <a class="dismiss">🗙</a>
    </div>
</footer>
