@implements IDisposable
@inject NavigationManager NavigationManager
@inject IJSRuntime js

<div id="sticky-header" class="menu-area transparent-header">
    <div class="container custom-container">
        <div class="row">
            <div class="col-12">
                <div class="mobile-nav-toggler" @onclick="ShowMobMenu">
                    <i class="fa-solid fa-bars"></i>
                </div>
                <div class="menu-wrap">
                    <nav class="menu-nav show">
                        <div class="logo">
                            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                                <img src="img/logo.png" alt="Логотип" />
                            </NavLink>
                        </div>
                        <div class="navbar-wrap main-menu d-none d-lg-flex">
                            <ul class="navigation">
                                <li>
                                    <NavLink class="nav-link" href="counter">Історія</NavLink>
                                </li>
                                <li>
                                    <NavLink class="nav-link" href="weather">Література</NavLink>
                                </li>
                                <li><a href="">Музика</a></li>
                                <li class="menu-item-has-children">
                                    <a href="">Фільми</a>
                                    <ul class="submenu">
                                        <li><a href="">Фільми</a></li>
                                        <li><a href="">Серіали</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="">Мультфільми</a>
                                    <ul class="submenu">
                                        <li><a href="">Мультфільми</a></li>
                                        <li><a href="">Мультсеріали</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="header-action d-none d-md-block">
                            <ul>
                                <li class="header-search">
                                    <a style="cursor: pointer" @onclick="() => SearchModal.Open()">
                                        <i class="fa-solid fa-magnifying-glass"></i>
                                    </a>
                                </li>
                                <li class="header-btn">
                                    <NavLink class="btn btnlive" href="live">
                                        <span class="live-icon"></span>Наживо
                                    </NavLink>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>

                <!-- Mobile Menu  -->
                <div class="mobile-menu">
                    <div class="close-btn" @onclick="HideMobMenu">
                        <i class="fa-solid fa-xmark"></i>
                    </div>

                    <nav class="menu-box">
                        <div class="nav-logo">
                            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                                <img src="img/logo.png" alt="" title="" />
                            </NavLink>
                        </div>
                        <div class="menu-outer">
                            <ul class="navigation">
                                <li><NavLink class="nav-link" href="counter">Історія</NavLink></li>
                                <li><NavLink class="nav-link" href="weather">Література</NavLink></li>
                                <li><a href="">Музика</a></li>
                                <li class="menu-item-has-children">
                                    <a href="">Фільми</a>
                                    <ul class="submenu" style="display: none;">
                                        <li><a href="">Фільми</a></li>
                                        <li><a href="">Серіали</a></li>
                                    </ul>
                                    <div class="dropdown-btn" id="mnuFilm" @onclick="@(e => DropdownToogle("mnuFilm"))">
                                        <span class="fa-solid fa-angle-down"></span>
                                    </div>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="">Мультфільми</a>
                                    <ul class="submenu" style="display: none;">
                                        <li><a href="">Мультфільми</a></li>
                                        <li><a href="">Мультсеріали</a></li>
                                    </ul>
                                    <div class="dropdown-btn" id="mnuMult" @onclick="@(e => DropdownToogle("mnuMult"))">
                                        <span class="fa-solid fa-angle-down"></span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="social-links">
                            <ul class="clearfix">
                                <li>
                                    <a href="">
                                        <span class="fa-brands fa-twitter"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <span class="fa-brands fa-square-facebook"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <span class="fa-brands fa-instagram"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <span class="fa-brands fa-youtube"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <span class="fa-brands fa-telegram"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="menu-backdrop"></div>
                <!-- End Mobile Menu -->

                <SearchModal @ref=SearchModal />
            </div>
        </div>
    </div>
</div>

@code {
    private string? currentUrl;
    private SearchModal SearchModal { get; set; }

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }

    [JSInvokable]
    public async Task ShowMobMenu()
    {
        await js.InvokeVoidAsync("mobMenuVisible");
    }

    [JSInvokable]
    public async Task HideMobMenu()
    {
        await js.InvokeVoidAsync("mobMenuUnisible");
    }

    [JSInvokable]
    public async Task DropdownToogle(string elId)
    {
        await js.InvokeVoidAsync("mobDropdownToggle", elId);
    }
}

