<section class="newsletter-area newsletter-bg" style="background-image: url('img/RedBackground.jpg');">
    <div class="container">
        <div class="newsletter-inner-wrap">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="newsletter-content">
                        <h4 style="color: white;">Потрібна ваша допомога</h4>
                        <p style="color: white;">Для утримання та розвитку цього архіву потрібні кошти.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <a href="https://donatello.to/Klio.dp.ua" class="btn" target="_blank">Donatello</a>
                    <a href="https://next.privat24.ua/send/b37vw" class="btn" target="_blank">ПриватБанк</a>
                </div>
            </div>
        </div>
    </div>
</section>