<div id="sticky-header" class="menu-area transparent-header">
    <div class="container custom-container">
        <div class="row">
            <div class="col-12">
                NavMenu
            </div>
        </div>
    </div>
</div>

@{
}
