<!-- Modal Search -->
<div class="modal fade" id="search_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form>
                <input type="text" placeholder="Шукати...">
                <button>
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </form>
        </div>
    </div>
    <button data-dismiss="modal">
        <i class="fa-regular fa-circle-xmark"></i>
    </button>
</div>
<!-- Modal Search-end -->