<!-- Modal Search -->
<div class="modal fade search_modal" id="search_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document" style="top: 50%; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); transform: translateY(-50%);">
        <div class="modal-content">
            <form>
                <input id="search_modal_input" type="text" placeholder="Шукати...">
                <button id="search_modal_button">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </form>
        </div>
    </div>
    <button data-bs-dismiss="modal">
        <i class="fa-regular fa-circle-xmark"></i>
    </button>
</div>
<!-- Modal Search-end -->