@page "/Partitions"
@inject NavigationManager NavManager
@inject IPartitionRepository partitionRepository

<PageTitle>@allMeta.Title</PageTitle>

<MetaContent MetaData="allMeta" />

<BannerArea />

<section class="ucm-area ucm-bg" style="background-image: url('img/ucm_bg_shape.png')">
    <div class="layer">
        <div class="container">
            <div class="row align-items-end mb-55">
                <div class="col-lg-6">
                    <div class="section-title text-center text-lg-start title-style-two">
                        <span class="sub-title">Розділи</span>
                        <h2 class="title">Список розділів</h2>
                    </div>
                </div>
            </div>
            <div class="tab-content">
                <div class="tab-pane fade show active">
                    <div class="ucm-active" style="display: -webkit-flex; -webkit-flex-direction: column; -webkit-flex-wrap: wrap; -webkit-flex-direction: row;">
                        <GenericList List="Partitions">
                            <WholeListTemplate>
                                <div class="widget blog-widget" style="width: 100%;">
                                    <div class="sidebar-cat">
                                        <ul>
                                            @foreach (var item in Partitions)
                                            {
                                                <li style="height: 75px;">
                                                    <div class="row" style="align-items: stretch; width: 100%; float: left;">
                                                        <div style="width: 65%; align-self: center;">
                                                            <a href="partition/@item.Id">@item.Name</a> <span>12</span>
                                                        </div>
                                                        <div style="width: 35%; text-align: right;">
                                                            <a class="btn" onmouseover="this.style.color='#1e1b29';" onmouseout="this.style.color='#c8c8c8';">Редагувати</a>
                                                            <button class="btn">Видалити</button>
                                                        </div>
                                                    </div>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </WholeListTemplate>
                        </GenericList>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-11">
                    <div class="contact-form-wrap">
                        <div class="contact-form" style="text-align: right;">
                            <a class="btn" href="partition/create">Додати</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@code {
    [CascadingParameter] public AppState appState { get; set; }
    OpenGraphModel allMeta = new OpenGraphModel();
    List<Partition> Partitions;

    protected async override Task OnInitializedAsync()
    {
        allMeta.Title = "Розділи :: Український медійний архів 'KLIO'";
        allMeta.Description = "Медійний архів 'KLIO': Музика, література, історія, фільми, мультфільми, серіали, мультсеріали, наживо, пряма трансляція, дивитися он-лайн";
        allMeta.Robots = "all";
        allMeta.Author = "Eugene Baklanov";
        allMeta.Keywords = "Klio, архів, video, відео, історія, література, політика, музика, music, наживо, трансляція, пряма трансляція, дивитися он-лайн, фільм, серіал, сезон, епізод, мультфільм, мультсерал";
        allMeta.Type = "article";
        allMeta.Image = (NavManager.BaseUri + "img/WatchTVMockup.jpg").Replace("https://", "http://");
        allMeta.SecureImage = (NavManager.BaseUri + "img/WatchTVMockup.jpg").Replace("http://", "https://");
        allMeta.ImageWidth = 1920;
        allMeta.ImageHeight = 1077;
        allMeta.ImageType = "image/jpeg";
        allMeta.Url = NavManager.Uri;
        allMeta.SiteName = "Медійний архів 'KLIO'";
        allMeta.Locale = "uk_UA";
        allMeta.FBAdmins = "100007730161243,100002204709179";
        allMeta.FBAppId = "885986785210347";
        allMeta.Image2 = (NavManager.BaseUri + "img/logo_750_transp.png").Replace("https://", "http://");
        allMeta.SecureImage2 = (NavManager.BaseUri + "img/logo_750_transp.png").Replace("http://", "https://");
        allMeta.ImageWidth2 = 750;
        allMeta.ImageHeight2 = 750;
        allMeta.ImageType2 = "image/png";

        try
        {
            Partitions = await partitionRepository.GetPartitions();
        }
        catch (Exception ex)
        {

        }
    }
}
