@page "/Years"
@model KlioWeb.Pages.Years.IndexYearsModel
@inject CurrentCategory currentCategory

@{
    OpenGraphModel allMeta = new OpenGraphModel();
    currentCategory.SetCurrentCategory(0);

    allMeta.Title = "Роки випуску";
    allMeta.Description = "Медійний архів 'KLIO': Музика, література, історія, фільми, мультфільми, серіали, мультсеріали, наживо, пряма трансляція, дивитися он-лайн";
    allMeta.Robots = "all";
    allMeta.Author = "Eugene Baklanov";
    allMeta.Keywords = "Klio, архів, video, відео, історія, література, політика, музика, music, наживо, трансляція, пряма трансляція, дивитися он-лайн, фільм, серіал, сезон, епізод, мультфільм, мультсерал";
    allMeta.Type = "article";
    allMeta.Image = ($"{Request.Scheme}://{Request.Host}/img/WatchTVMockup.jpg").Replace("https://", "http://");
    allMeta.SecureImage = ($"{Request.Scheme}://{Request.Host}/img/WatchTVMockup.jpg").Replace("http://", "https://");
    allMeta.ImageWidth = 1920;
    allMeta.ImageHeight = 1080;
    allMeta.ImageType = "image/jpeg";
    allMeta.Url = $"{Request.Scheme}://{Request.Host}{Request.Path}{Request.QueryString}";
    allMeta.SiteName = "Медійний архів 'KLIO'";
    allMeta.Locale = "uk_UA";
    allMeta.FBAdmins = "100007730161243,100002204709179";
    allMeta.FBAppId = "885986785210347";
    allMeta.Image2 = ($"{Request.Scheme}://{Request.Host}/img/logo_750_transp.png").Replace("https://", "http://");
    allMeta.SecureImage2 = ($"{Request.Scheme}://{Request.Host}/img/logo_750_transp.png").Replace("http://", "https://");
    allMeta.ImageWidth2 = 750;
    allMeta.ImageHeight2 = 750;
    allMeta.ImageType2 = "image/png";

    ViewBag.Meta = allMeta;
}

@if (Model.LastMovie != null)
{
    <partial name="BannerArea" model="Model.BannerArea" />
}

<section class="ucm-area ucm-bg" data-background="img/ucm_bg_shape.png">
    <div class="layer">
        <div class="container">
            <div class="row align-items-end mb-55">
                <div class="col-lg-6">
                    <div class="section-title text-center text-lg-start title-style-two">
                        <span class="sub-title">Роки випуску</span>
                        <h2 class="title">Роки виходу фільмів</h2>
                    </div>
                </div>
            </div>
            <div class="tab-content">
                <div class="tab-pane fade show active">
                    <div class="ucm-active" style="display: -webkit-flex; -webkit-flex-direction: column; -webkit-flex-wrap: wrap; -webkit-flex-direction: row;">
                        <div class="widget blog-widget" style="width: 100vw;">
                            <div class="tag-list">
                                <ul>
                                    @foreach (var item in Model.ListOfYears)
                                    {
                                        <li>
                                            <a href="year/@item.Year">
                                                @item.Year
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div style="text-align: center;">
    <!-- LiveKlioAds -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-8113874437122486"
         data-ad-slot="7371334300"
         data-ad-format="auto"
         data-full-width-responsive="true"></ins>
</div>

@if (Model.MoviesArea != null)
{
    <partial name="MoviesArea" model="Model.MoviesArea" />
}

@section Scripts {
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
}
