@page "/StatusCode/404"

<PageTitle>Сторінку не знайдено</PageTitle>

<BannerArea />

<!-- up-coming-movie-area -->
<section class="ucm-area ucm-bg" style="background-image: url('img/service-bg.jpg')">
    <div class="layer">
        <div class="container">
            <div>
                <h3>На жаль, сторінку, яку ви запросили, не знайдено.</h3>
            </div>
        </div>
    </div>
</section>
<!-- up-coming-movie-area-end -->

@code {

}
