<section class="breadcrumb-area breadcrumb-bg">
    <div class="layer">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-content">
                        <h2>Авторизація...</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@code {

}
