@page "/"

<PageTitle>Український медійний архів 'KLIO'</PageTitle>

<BannerArea />

<!-- up-coming-movie-area -->
<section class="ucm-area ucm-bg" style="background-image: url('img/service-bg.jpg')">
    <div class="container">
        <div>
            <h3>Movie</h3>
            <MoviesList Movies="movies" />
        </div>
    </div>
</section>
<!-- up-coming-movie-area-end -->

@code {
    private List<Movie> movies;

    protected override void OnInitialized()
    {
        movies = new List<Movie>()
        {
            new Movie() {Title = "Spider-Man: Far From Home", ReleaseDate = new DateTime(2023, 12, 11)},
            new Movie() {Title = "Moana", ReleaseDate = new DateTime(2023, 12, 23)},
            new Movie() {Title = "Inception", ReleaseDate = new DateTime(2013, 7, 16)}
        };
    }
}