@page "/"
@attribute [StreamRendering]
@inject IRepository repository

<PageTitle>Український медійний архів 'KLIO'</PageTitle>

<BannerArea />

<!-- up-coming-movie-area -->
<section class="ucm-area ucm-bg" style="background-image: url('img/service-bg.jpg')">
    <div class="container">
        <div>
            <h3 style="color: @AppState.Color;">Movie</h3>
            <MoviesListWrapper Movies="movies" />
        </div>
    </div>
</section>
<!-- up-coming-movie-area-end -->

@code {
    [CascadingParameter] public AppState AppState { get; set; }
    private List<Movie> movies;

    protected async override Task OnInitializedAsync()
    {
        // await Task.Delay(2000);
        movies = repository.GetMovies();
    }
}