@if (DisplayConfirmation)
{
    <div class="modal-backdrop show"></div>

    <div class="modal fade" style="display: block; opacity: 1;" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title fs-5" id="staticBackdropLabel">
                        @Title
                    </h5>
                    <button @onclick="OnCancel" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    @ChildContent
                </div>
                <div class="modal-footer">
                    <button @onclick="OnCancel" type="button" class="btn" data-bs-dismiss="modal">Скасувати</button>
                    <button @onclick="OnConfirm" type="button" class="btn">Підтвердити</button>
                </div>
            </div>
        </div>
    </div>
}

@code {
    private bool DisplayConfirmation = false;
    [Parameter] public string Title { get; set; } = "Підтвердження";
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public EventCallback OnConfirm { get; set; }
    [Parameter] public EventCallback OnCancel { get; set; }

    public void Show() => DisplayConfirmation = true;
    public void Hide() => DisplayConfirmation = false;
}
