@rendermode @(new InteractiveServerRenderMode(prerender: false))
@attribute [StreamRendering]

<MoviesList Movies="Movies" />

<button class="btn" @onclick="AddNewMoview">Add new moview</button>

@code {
    [Parameter] public List<Movie> Movies { get; set; }

    private void AddNewMoview()
    {
        Movies.Add(new Movie() { Title = "Movie Sample", ReleaseDate = DateTime.Today });
    }
}
