@rendermode @(new InteractiveServerRenderMode(prerender: false))
@attribute [StreamRendering]

@if (Movies == null)
{
    @if (NullTemplate != null)
    {
        @NullTemplate
    }
    else
    {
        // Default Content
        <div id="preloader">
            <div id="loading-center">
                <div id="loading-center-absolute">
                    <img src="img/preloader.svg" alt="">
                </div>
            </div>
        </div>
    }
}
else if (Movies.Count == 0)
{
    @if (EmptyTemplate != null)
    {
        @EmptyTemplate
    }
    else
    {
        // Default Content
        <text>Розділ не має записів.</text>
    }
}
else
{
    <label><input type="checkbox" @bind="displayButtons" />Display Buttons</label>

    @foreach (var movie in Movies)
    {
        <IndividualMovie Movie="movie" DisplayButtons="displayButtons" DeleteMovie="DeleteMovie" />
    }
}

@code {
    [Parameter] public List<Movie> Movies { get; set; }
    [Parameter] public RenderFragment NullTemplate { get; set; }
    [Parameter] public RenderFragment EmptyTemplate { get; set; }
    bool displayButtons = true;

    private void DeleteMovie(Movie movie)
    {
        Movies.Remove(movie);
    }
}
