@inject IJSRuntime js
@inject IMoviesRepository moviesRepository
@attribute [StreamRendering]

<div class="ucm-active" style="display: -webkit-flex; -webkit-flex-direction: column; -webkit-flex-wrap: wrap; -webkit-flex-direction: row;">
    <GenericList List="Movies" NoRecords="@NoRecords">
        <ElementTemplate Context="movie">
            <IndividualMovie Movie="movie" DeleteMovie="DeleteMovie" />
        </ElementTemplate>
    </GenericList>
</div>

<Confirmation @ref="confirmation" OnCancel="OnCancel" OnConfirm="OnConfirm">
    <div>Ви впевнені, що хочете видалити фільм: "@movieToBeDeleted.Title"?</div>
</Confirmation>

@code {
    [Parameter] public List<Movie> Movies { get; set; }
    [Parameter] public String NoRecords { get; set; }
    Confirmation confirmation;
    Movie movieToBeDeleted;

    private async Task DeleteMovie(Movie movie)
    {
        movieToBeDeleted = movie;
        confirmation.Show();

        // await js.MyFunction("custom message");
        // var confirm = await js.Confirm($"Ви впевнені, що хочете видалити фільм \"{movie.Title}\"?");

        // if (confirm)
        // {
        //     Movies.Remove(movie);
        // }
    }

    async void OnConfirm()
    {
        await moviesRepository.DeleteMovie(movieToBeDeleted.Id);
        Movies.Remove(movieToBeDeleted);
        confirmation.Hide();
        movieToBeDeleted = null;
    }

    void OnCancel()
    {
        confirmation.Hide();
        movieToBeDeleted = null;
    }
}
