<section class="ucm-area ucm-bg" style="background-image: url('img/ucm_bg_shape.png')">
    <div class="layer">
        <div class="container">
            <div class="row align-items-end mb-55">
                <div class="col-lg-6">
                    <div class="section-title text-center text-lg-start title-style-two">
                        <span class="sub-title">@Subtitle</span>
                        <h2 class="title">@Title</h2>
                    </div>
                </div>
            </div>
            <div class="tab-content">
                <div class="tab-pane fade show active">
                    <PartitionsList Partitions="Partitions" NoRecords="@NoRecords" ShowCategoryName="@ShowCategoryName" />
                </div>
            </div>
        </div>
    </div>
</section>

@code {
    [Parameter] public string Title { get; set; }
    [Parameter] public string Subtitle { get; set; }
    [Parameter] public String NoRecords { get; set; } = "Розділ не має записів.";
    [Parameter] public List<Partition> Partitions { get; set; }
    [Parameter] public bool ShowCategoryName { get; set; } = true;
}
