@page "/Keywords"
@inject NavigationManager NavManager
@inject IKeywordRepository keywordRepository
@inject CurrentCategory currentCategory

<PageTitle>@allMeta.Title</PageTitle>

<MetaContent MetaData="allMeta" />

@if (lastMovie != null)
{
    <BannerArea ShowMovie="lastMovie" ShowMovieCountries="lastMovieCountries" />
}

<section class="ucm-area ucm-bg" style="background-image: url('img/ucm_bg_shape.png')">
    <div class="layer">
        <div class="container">
            <div class="row align-items-end mb-55">
                <div class="col-lg-6">
                    <div class="section-title text-center text-lg-start title-style-two">
                        <span class="sub-title">Ключові слова</span>
                        <h2 class="title">Список ключових слів</h2>
                    </div>
                </div>
            </div>
            <div class="tab-content">
                <div class="tab-pane fade show active">
                    <div class="ucm-active" style="display: -webkit-flex; -webkit-flex-direction: column; -webkit-flex-wrap: wrap; -webkit-flex-direction: row;">
                        <GenericList List="Keywords">
                            <WholeListTemplate>
                                <div class="tag-list">
                                    <ul>
                                        @foreach (var item in Keywords)
                                        {
                                            <li>
                                                <a href="keyword/@item.Id/@StringUtilities.Translit(item.Word)">
                                                    <a href="keyword/edit/@item.Id" style="display: inline"><i class="fa-regular fa-pen-to-square"></i></a>
                                                    <a style="display: inline" href="" @onclick="@(() => DeleteKeyword(item))" @onclick:preventDefault><i class="fa-solid fa-trash"></i></a>
                                                    @item.Word
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </WholeListTemplate>
                        </GenericList>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-11">
                    <div class="contact-form-wrap">
                        <div class="contact-form" style="text-align: right;">
                            <a class="btn" href="keyword/create">Додати</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </section>

<Confirmation @ref="confirmation" OnCancel="OnCancel" OnConfirm="OnConfirm">
    <div>Ви впевнені, що хочете видалити ключове слово: "@keywordToBeDeleted.Word"?</div>
</Confirmation>

@code {
    OpenGraphModel allMeta = new OpenGraphModel();
    private Movie lastMovie;
    private List<Country> lastMovieCountries;
    private List<Keyword> Keywords;
    Confirmation confirmation;
    Keyword keywordToBeDeleted;

    protected async override Task OnInitializedAsync()
    {
        currentCategory.SetCurrentCategory(0);

        allMeta.Title = "Ключові слова :: Український медійний архів 'KLIO'";
        allMeta.Description = "Медійний архів 'KLIO': Музика, література, історія, фільми, мультфільми, серіали, мультсеріали, наживо, пряма трансляція, дивитися он-лайн";
        allMeta.Robots = "all";
        allMeta.Author = "Eugene Baklanov";
        allMeta.Keywords = "Klio, архів, video, відео, історія, література, політика, музика, music, наживо, трансляція, пряма трансляція, дивитися он-лайн, фільм, серіал, сезон, епізод, мультфільм, мультсерал";
        allMeta.Type = "article";
        allMeta.Image = (NavManager.BaseUri + "img/WatchTVMockup.jpg").Replace("https://", "http://");
        allMeta.SecureImage = (NavManager.BaseUri + "img/WatchTVMockup.jpg").Replace("http://", "https://");
        allMeta.ImageWidth = 1920;
        allMeta.ImageHeight = 1077;
        allMeta.ImageType = "image/jpeg";
        allMeta.Url = NavManager.Uri;
        allMeta.SiteName = "Медійний архів 'KLIO'";
        allMeta.Locale = "uk_UA";
        allMeta.FBAdmins = "100007730161243,100002204709179";
        allMeta.FBAppId = "885986785210347";
        allMeta.Image2 = (NavManager.BaseUri + "img/logo_750_transp.png").Replace("https://", "http://");
        allMeta.SecureImage2 = (NavManager.BaseUri + "img/logo_750_transp.png").Replace("http://", "https://");
        allMeta.ImageWidth2 = 750;
        allMeta.ImageHeight2 = 750;
        allMeta.ImageType2 = "image/png";

        try
        {
            var response = await keywordRepository.GetIndexKeywordsDTO();
            lastMovie = response.LastMovie;
            lastMovieCountries = response.LastMovieCountries;
            Keywords = response.AllKeywords;
        }
        catch (Exception ex)
        {

        }
    }

    private async Task DeleteKeyword(Keyword keyword)
    {
        keywordToBeDeleted = keyword;
        confirmation.Show();
    }

    private async Task OnConfirm()
    {
        await keywordRepository.DeleteKeyword(keywordToBeDeleted.Id);
        Keywords = await keywordRepository.GetAllKeywords();
        confirmation.Hide();
        keywordToBeDeleted = null;
    }

    void OnCancel()
    {
        confirmation.Hide();
        keywordToBeDeleted = null;
    }
}
