@page "/movies/create"
@inject NavigationManager NavManager
@inject IMoviesRepository moviesRepository

<PageTitle>@allMeta.Title</PageTitle>

<MetaContent MetaData="allMeta" />

<BreadcrumbArea>
    <TitleContent>
        <h2 class="title">Додати <span>відео</span></h2>
    </TitleContent>
    <ChildContent>
        <li class="breadcrumb-item"><a href="">Домівка</a></li>
        <li class="breadcrumb-item"><a href="Home/movies">Відео</a></li>
        <li class="breadcrumb-item active" aria-current="page">Додати відео</li>
    </ChildContent>
</BreadcrumbArea>

<!-- contact-area -->
    <section class="contact-area contact-bg" style="background-image: url('img/contact_bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-11">
                    <div class="contact-form-wrap">
                        <div class="widget-title mb-50">
                            <h5 class="title">Додати відео</h5>
                        </div>
                        <div class="contact-form">
                            <MovieForm Movie="Movie" OnValidSubmit="SaveMovie"
                                NotSelectedGenres="NotSelectedGenres" NotSelectedCountries="NotSelectedCountries"
                                CategoryList="CategoryList" AllPartitions="AllPartitions" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- contact-area-end -->

    @code {
    OpenGraphModel allMeta = new OpenGraphModel();
    private Movie Movie = new Movie();
    private List<Country> NotSelectedCountries = new List<Country>()
    {
        new Country() {Id = 1, Name = "Україна"},
        new Country() {Id = 1, Name = "США"},
        new Country() {Id = 1, Name = "Данія"}
    };
    private List<Genre> NotSelectedGenres = new List<Genre>()
    {
        new Genre() {Id = 1, Name = "Бойовик"},
        new Genre() {Id = 1, Name = "Комедія"},
        new Genre() {Id = 1, Name = "Драма"}
    };
    private List<Category> CategoryList = new List<Category>() {
        new Category { Id = 1, Name = "Фільми" },
        new Category { Id = 2, Name = "Мультфільми" },
        new Category { Id = 3, Name = "Історія" }
    };
    private List<Partition> AllPartitions = new List<Partition>() {
        new Partition { Id = 1, Name = "Розділ 1", CategoryId = 1 },
        new Partition { Id = 2, Name = "Розділ 2", CategoryId = 1 },
        new Partition { Id = 3, Name = "Розділ 3", CategoryId = 1 },
        new Partition { Id = 4, Name = "Розділ 4", CategoryId = 2 },
        new Partition { Id = 5, Name = "Розділ 5", CategoryId = 2 },
        new Partition { Id = 6, Name = "Розділ 6", CategoryId = 3 },
        new Partition { Id = 7, Name = "Розділ 7", CategoryId = 3 },
        new Partition { Id = 8, Name = "Розділ 8", CategoryId = 3 },
        new Partition { Id = 9, Name = "Розділ 9", CategoryId = 3 }
    };

    protected async override Task OnInitializedAsync()
    {
        allMeta.Title = "Додати відео :: Український медійний архів 'KLIO'";
        allMeta.Description = "Медійний архів 'KLIO': Музика, література, історія, фільми, мультфільми, серіали, мультсеріали, наживо, пряма трансляція, дивитися он-лайн";
        allMeta.Robots = "all";
        allMeta.Author = "Eugene Baklanov";
        allMeta.Keywords = "Klio, архів, video, відео, історія, література, політика, музика, music, наживо, трансляція, пряма трансляція, дивитися он-лайн, фільм, серіал, сезон, епізод, мультфільм, мультсерал";
        allMeta.Type = "article";
        allMeta.Image = (NavManager.BaseUri + "img/WatchTVMockup.jpg").Replace("https://", "http://");
        allMeta.SecureImage = (NavManager.BaseUri + "img/WatchTVMockup.jpg").Replace("http://", "https://");
        allMeta.ImageWidth = 1920;
        allMeta.ImageHeight = 1077;
        allMeta.ImageType = "image/jpeg";
        allMeta.Url = NavManager.Uri;
        allMeta.SiteName = "Медійний архів 'KLIO'";
        allMeta.Locale = "uk_UA";
        allMeta.FBAdmins = "100007730161243,100002204709179";
        allMeta.FBAppId = "885986785210347";
        allMeta.Image2 = (NavManager.BaseUri + "img/logo_750_transp.png").Replace("https://", "http://");
        allMeta.SecureImage2 = (NavManager.BaseUri + "img/logo_750_transp.png").Replace("http://", "https://");
        allMeta.ImageWidth2 = 750;
        allMeta.ImageHeight2 = 750;
        allMeta.ImageType2 = "image/png";
    }

    private async Task SaveMovie()
    {
        Movie.PublicDate = DateTime.Now;

        try
        {
            var movieId = await moviesRepository.CreateMovie(Movie);
            NavManager.NavigateTo($"movie/{movieId}/{StringUtilities.Translit(Movie.Title)}");
        }
        catch (Exception ex)
        {
            
            throw;
        }
    }
}
