@page "/Home/{CatName}"
@using KlioBlazor.Shared.Entities
@model IndexCategoriesModel
@inject CurrentCategory currentCategory

@{
    OpenGraphModel allMeta = new OpenGraphModel();

    if (string.IsNullOrEmpty(Model.CatName))
    {
        Model.CatName = "all";
    }
    currentCategory.SetCurrentCategory(GetCatId(Model.CatName));

    allMeta.Title = "Категорії :: Український медійний архів 'KLIO'";
    allMeta.Description = "Медійний архів 'KLIO': Музика, література, історія, фільми, мультфільми, серіали, мультсеріали, наживо, пряма трансляція, дивитися он-лайн";
    allMeta.Robots = "all";
    allMeta.Author = "Eugene Baklanov";
    allMeta.Keywords = "Klio, архів, video, відео, історія, література, політика, музика, music, наживо, трансляція, пряма трансляція, дивитися он-лайн, фільм, серіал, сезон, епізод, мультфільм, мультсерал";
    allMeta.Type = "article";
    allMeta.Image = ($"{Request.Scheme}://{Request.Host}/img/WatchTVMockup.jpg").Replace("https://", "http://");
    allMeta.SecureImage = ($"{Request.Scheme}://{Request.Host}/img/WatchTVMockup.jpg").Replace("http://", "https://");
    allMeta.ImageWidth = 1920;
    allMeta.ImageHeight = 1080;
    allMeta.ImageType = "image/jpeg";
    allMeta.Url = $"{Request.Scheme}://{Request.Host}{Request.Path}{Request.QueryString}";
    allMeta.SiteName = "Медійний архів 'KLIO'";
    allMeta.Locale = "uk_UA";
    allMeta.FBAdmins = "100007730161243,100002204709179";
    allMeta.FBAppId = "885986785210347";
    allMeta.Image2 = ($"{Request.Scheme}://{Request.Host}/img/logo_750_transp.png").Replace("https://", "http://");
    allMeta.SecureImage2 = ($"{Request.Scheme}://{Request.Host}/img/logo_750_transp.png").Replace("http://", "https://");
    allMeta.ImageWidth2 = 750;
    allMeta.ImageHeight2 = 750;
    allMeta.ImageType2 = "image/png";

    if (Model.LastMovie != null)
    {
        allMeta.Title = Model.LastMovie.Partition.Category.Name + " :: Український медійний архів 'KLIO'";
        allMeta.Description += Model.LastMovie.Partition.Category.Description;
    }

    ViewBag.Meta = allMeta;
}

@if (Model.LastMovie != null)
{
    <partial name="BannerArea" model="Model.BannerArea" />
}

@if (Model.CatName.ToLower() == "all")
{
    <section class="ucm-area ucm-bg" data-background="img/ucm_bg_shape.png">
        <div class="layer">
            <div class="container">
                <div class="row align-items-end mb-55">
                    <div class="col-lg-6">
                        <div class="section-title text-center text-lg-start title-style-two">
                            <span class="sub-title">Категорії</span>
                            <h2 class="title">Список категорій</h2>
                        </div>
                    </div>
                </div>
                <div class="tab-content">
                    <div class="tab-pane fade show active">
                        <div class="ucm-active" style="display: -webkit-flex; -webkit-flex-direction: column; -webkit-flex-wrap: wrap; -webkit-flex-direction: row;">
                            <div class="widget blog-widget" style="width: 75vw;">
                                <div class="sidebar-cat">
                                    <ul>
                                        @foreach (var item in Model.Categories)
                                        {
                                            <li style="min-height: 25px;">
                                                <div class="row" style="align-items: stretch; width: 100%; float: left;">
                                                    <div style="width: 65%; align-self: center;">
                                                        <a href="@GetCatUrl(item)">@item.Name</a> <span>@item.Partitions.Count() розд.</span>
                                                    </div>
                                                </div>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
else
{
    @if (Model.LastMovie != null)
    {
        <partial name="PartitionsArea" model="Model.PartitionsArea" />
    }
}

@if (Model.MoviesArea != null)
{
    <partial name="MoviesArea" model="Model.MoviesArea" />
}

@functions {
    private int GetCatId(string name)
    {
        int catId = 0;

        switch (name.ToLower())
        {
            case "history":
                catId = 1;
                break;
            case "literacy":
                catId = 2;
                break;
            case "music":
                catId = 3;
                break;
            case "movies":
                catId = 4;
                break;
            case "serials":
                catId = 6;
                break;
            case "animation":
                catId = 5;
                break;
            case "series":
                catId = 7;
                break;
        }

        return catId;
    }

    private string GetCatUrl(Category category)
    {
        string url = "Home";
        switch (category.Id)
        {
            case 1:
                url += "/history";
                break;
            case 2:
                url += "/literacy";
                break;
            case 3:
                url += "/music";
                break;
            case 4:
                url += "/movies";
                break;
            case 6:
                url += "/serials";
                break;
            case 5:
                url += "/animation";
                break;
            case 7:
                url += "/series";
                break;
        }

        return url;
    }
}
