@page "/counter"
@rendermode InteractiveAuto

<PageTitle>Counter</PageTitle>

<!-- banner-area -->
<section class="banner-area banner-bg" style="background-image: url('content/movies/1/background.jpg')">
    <div class="container custom-container">
        <div class="row">
            <div class="col-xl-6 col-lg-8">
                <div class="banner-content">
                    <h6 class="sub-title">Історія</h6>
                    <div class="section-title title-style-two">
                        <span class="sub-title">Велич особистості</span>
                    </div>
                    <h2 class="title">Тарас <span>Шевченко</span></h2>
                    <div class="banner-meta">
                        <ul>
                            <li class="quality">
                                <span style="color: lightgreen; border-color: lightgreen;">0+</span>
                            </li>
                            <li class="category">
                                <a href="">Біографічний,</a>
                                <a href="">Телевізійний</a>
                            </li>
                            <li class="release-time">
                                <span><i class="fa-solid fa-calendar-days"></i> 2021</span>
                                <span><i class="fa-solid fa-clock"></i> 28 хв</span>
                            </li>
                        </ul>
                    </div>
                    <a href="" class="banner-btn btn popup-video">
                        <i class="fa-solid fa-play"></i> Вістовик
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- banner-area-end -->

<!-- up-coming-movie-area -->
<section class="ucm-area ucm-bg" style="background-image: url('img/service-bg.jpg')">
    <div class="container">
        <div>
            <h3>Counter</h3>

            <p role="status">Current count: @currentCount</p>

            <button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
        </div>
    </div>
</section>
<!-- up-coming-movie-area-end -->

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
