<EditForm Model="Category" OnValidSubmit="OnValidSubmit" FormName="CategoryForm">
    <div class="row mb-2">
        <DataAnnotationsValidator />
        <ValidationSummary style="color: #fd0e30;" />
    </div>
    <div class="row">
        <InputText placeholder="Назва *" @bind-Value="@Category.Name" />
        <InputTextArea placeholder="Опис..." @bind-Value="@Category.Description" />
        <button class="btn" type="submit">Зберегти</button>
    </div>
</EditForm>

@code {
    [Parameter] public Category Category { get; set; }
    [Parameter] public EventCallback OnValidSubmit { get; set; }
}
