@page "/Home/{CatName}"
@page "/Home/{CatName}/{CatSubName}"
@inject NavigationManager NavManager

<PageTitle>@allMeta.Title</PageTitle>

<MetaContent MetaData="allMeta" />

<BannerArea />

<!-- contact-area -->
<section class="contact-area contact-bg" style="background-image: url('img/contact_bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-11">
                <div class="contact-form-wrap">
                    <div class="contact-form">
                        <a class="btn" href="category/create">Додати</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- contact-area-end -->

@code {
    [Parameter] public string CatName { get; set; }
    [Parameter] public string CatSubName { get; set; }
    OpenGraphModel allMeta = new OpenGraphModel();

    protected async override Task OnInitializedAsync()
    {
        allMeta.Title = "Категорії :: Український медійний архів 'KLIO'";
        allMeta.Description = "Медійний архів 'KLIO': Музика, література, історія, фільми, мультфільми, серіали, мультсеріали, наживо, пряма трансляція, дивитися он-лайн";
        allMeta.Robots = "all";
        allMeta.Author = "Eugene Baklanov";
        allMeta.Keywords = "Klio, архів, video, відео, історія, література, політика, музика, music, наживо, трансляція, пряма трансляція, дивитися он-лайн, фільм, серіал, сезон, епізод, мультфільм, мультсерал";
        allMeta.Type = "article";
        allMeta.Image = (NavManager.BaseUri + "img/WatchTVMockup.jpg").Replace("https://", "http://");
        allMeta.SecureImage = (NavManager.BaseUri + "img/WatchTVMockup.jpg").Replace("http://", "https://");
        allMeta.ImageWidth = 1920;
        allMeta.ImageHeight = 1077;
        allMeta.ImageType = "image/jpeg";
        allMeta.Url = NavManager.Uri;
        allMeta.SiteName = "Медійний архів 'KLIO'";
        allMeta.Locale = "uk_UA";
        allMeta.FBAdmins = "100007730161243,100002204709179";
        allMeta.FBAppId = "885986785210347";
        allMeta.Image2 = (NavManager.BaseUri + "img/logo_750_transp.png").Replace("https://", "http://");
        allMeta.SecureImage2 = (NavManager.BaseUri + "img/logo_750_transp.png").Replace("http://", "https://");
        allMeta.ImageWidth2 = 750;
        allMeta.ImageHeight2 = 750;
        allMeta.ImageType2 = "image/png";
    }
}
